/*---------------FOOTER---------------*/
footer {
    background-color: $color-primario;
    @include display (flex, row, space-between);
    align-items: center;
    margin-top: auto;

    img {
        align-items: center;
        width: 80px;

    }

    div {
        h4 {
            font-size: nth($font-size, 3);
            color: $color-terciario;
            font-family: sans-serif;
        }
    }

    .redesfooter {
        margin: 10px;

        a {
            align-items: center;
            font-size: nth($font-size, 3);
            -webkit-text-stroke: 0.8px black;
            color: $color-terciario;
            list-style: none;
            text-decoration: none;
            font-family: sans-serif;

            img {
                margin: 10px;
            }
        }
    }
}