//*VARIABLES
$color-primario:rgb(2, 75, 2);
$color-secundario: black;
$color-terciario: white;
//*LISTAS
$colores:
red,
yellow,
blue;

$font-size:
30px,
25px,
20px,
15px;
//*EXTENDS

%flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
//*MIXIN
@mixin display ($flex, $direction, $justify){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
}



